# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log

# Build folders
bin/
obj/

# .NET & NuGet local caches
.nuget/
.dotnet/

# Rider / VSCode
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
appsettings.Development.local.json
.local/

# Uploads (optional if large)
uploads/


allfiles.txt 
TestResults/
artifacts/
.env.*
wathiq-frontend/node_modules/
wathiq-frontend/dist/
wathiq-frontend/.dotnet/
wathiq-frontend/.dotnet-build/

wathiq-frontend/tools/
