# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log

# Build folders
bin/
obj/
TestResults/
coverage/
artifacts/
playwright-report/

# .NET & NuGet local caches
.nuget/
.dotnet/

# Rider / VSCode
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
appsettings.Development.local.json
.local/

# Uploads (optional if large)
uploads/

allfiles.txt

# Frontend local files
wathiq-frontend/node_modules/
wathiq-frontend/.dotnet/
wathiq-frontend/.dotnet-build/
wathiq-frontend/tools/
wathiq-frontend/.env.local
wathiq-frontend/dist/
